@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #000000;
  --navColor2: #A80532;
  --navColor3: #00468B; 
  --navColor4: #F2A900;
  --navColor5: #333333;
  --primaryFont: 'Smooch Sans', sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: var(--primaryFont);
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

nav li:nth-of-type(6) {
  background-color: var(--navColor2);
}

/* Slide in animation with delay for each */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

.slide-out-6 {
  animation: slide-out 0.3s linear 0.09s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.btn {
  background-color: #A80532 !important; /* Claret (Deep Red) */
  color: #ffffff !important; /* White text for contrast */
  border: none !important; /* Removes default borders */
}

.btn:hover {
  background-color: #000000 !important; 
  color: #ffffff !important;
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: var(--primaryColor);
  padding: 30px;
}

section#home {  
  min-height: 100vh; /* Ensures full screen height */
  background-color: #000;
}

section#chants {
  background-color: var(--navColor2);
}

#chants .row {
  display: flex;
  flex-wrap: wrap;  /* Allows the cards to wrap into multiple rows if necessary */
}

#chants .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;  /* Ensure they grow to fill the row equally */
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: black; 
  color: #fff; 
  padding: 10px;
  border-radius: 5px;
}

#chants .card:hover {
  background-color: #ffffff !important;
  color: var(--navColor2) !important;
}

section#riot {
  background-color: var(--navColor3);
  min-height: 100vh; /* Ensures full screen height even with less content */
}

section#riot img{
  padding-bottom: 30px; /* Ensure there is space between the riot and chant sections */
}

section#store {  
  background-color: #000; /* Black background */
  min-height: 100vh; /* Ensures full screen height even with less content */
}

#storeVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the section */
  z-index: 1; /* Ensures the video stays behind the content */
  pointer-events: none; /* Prevents users from clicking or interacting */
  opacity: 0.3;
}

#store .container {
  position: relative;
  z-index: 1; /* Ensures content stays above the video */
  color: #fff; /* Make text stand out on the video */
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }

  section#riot {
    min-height: 100vh; /* Ensures it takes up at least the full viewport height */
  }
}

footer {
  background-color: black !important; /* Forces the background color to be black */
  color: white; /* Ensures the text is white for contrast */
}
